@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Figtree-Regular";
}

@font-face {
  font-family: "Figtree-Regular";
  src: url("/fonts/Figtree-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Figtree-SemiBold";
  src: url("/fonts/Figtree-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Figtree-ExtraBold";
  src: url("/fonts/Figtree-ExtraBold.ttf") format("truetype");  
}

.card {
  box-shadow: 8px 8px;
}

.semibold{
  font-family: "Figtree-SemiBold";
}

.extrabold {
  font-family: "Figtree-ExtraBold";
}